---
layout: custom
---
<div class="container">
	<div class="section header">
		<h1>Hello!</h1>
		<p>Whatever it is you're looking for, it's not here.</p>
	</div>
	<footer>
		<div class="section">
	    <p>Go back to the <a href="https://llsif.kawaiii.link">main site</a></p>
	  </div>
	</footer>
</div>
