---
layout: default
---
<div class="container">
	<div class="section">
		<div class="header">
			<h1>llsif</h1>
			<p>Get your idol fix now! - rooted flavour ;)</p>
		</div>
	</div>
	<div class="section row">
		{% for dl in site.data.download %}
		<div class="col s8 offset-s2 m4">
			<a class="waves-effect waves-red btn" href="{{ site.dl.honoka }}{{ dl.apk }}-v{{ dl.ver }}-signed.apk">{{ dl.rel }} {{ dl.ver }}</a>
		</div>
		{% endfor %}
	</div>
</div>