<footer>
  <div class="section">
    <p>Credit to <a href="https://redd.it/3kadse" target="blank">Vazkii</a> &bull; Icons by <a href="https://redd.it/2q4wta" target="blank">Xiotia</a><br>Get in touch! <a href="mailto:llsif@kawaiii.link" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a><br><br><a href="survey.html">Survey</a> &bull; <a href="blog">News</a> &bull; <a href="https://status.kawaiii.link/">Status</a></p>
  </div>
</footer>
