<title>LLSIF | Love Live! School Idol Festival</title>
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" / >
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Love Live! School Idol Festival APKs - patched Android APK for rooted device">
<meta name="theme-color" content="#E492A2">
<meta name="robots" content="noimageindex">
<link rel="shortcut icon" href="https://ik.imagekit.io/arc/favicon.ico" type="image/x-icon">
<link rel="alternate" href="https://llsif.kawaiii.link" hreflang="en-us" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' defer>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style media="screen">
	body { font-family: "Courgette", cursive; background: #F3F3E1; }
	a, .modal-content p { font-weight: bold; color: #e492a2; }
	.header h1 { color: #8F8E8C; font-size: 180px; text-shadow: 1px 1px 6px #fff; }
	.header p { font-size: 18px; color: #e492a2; }
	.btn { width: 100%; font-size: 0.85em; background-color: #8F8E8C; font-family: Raleway, sans-serif; margin-bottom: 10px; }
	.btn:hover { background-color: #e492a2; }
	.modal.bottom-sheet { max-height: 100%; }
	footer a:hover { color: #8F8E8C; }
</style>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-71297828-1', 'auto');
ga('send', 'pageview');

</script>
