<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "LLSIF | Patched Love Live! School Idol Festival APK",
  "alternateName": "Patched LLSIF APK",
  "url": "https://llsif.kawaiii.link"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://llsif.kawaiii.link",
  "logo": "https://llsif.kawaiii.link/images/logo.png"
}
</script>
