<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.modal-trigger').leanModal();
    function toast(){
      Materialize.toast('Download starting...', 6000)
    }
  });
</script>
