---
layout: compress
---
<!DOCTYPE html>
<html lang="en-us">
<head>
	{% include head.html %}
</head>
<body class="center">
	{{ content }}
	{% include footer.html %}
	{% include schema.html %}
	{% include script.html %}
</body>
</html>
